.galerieBox{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}
.galerie{
    width:100%;
    margin: auto;
    padding: 10px;
}
@media only screen and (min-width: 900px) {

    .galerieBox{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px 20px;
        justify-content: normal;
    }
    .galerie{
        margin-left: 10px;
    }
}