*{font-family: 'Montserrat', sans-serif;
font-size: 18px}

.symbol{
    height: 60px;
    margin-left: 10px;
    border: 5px solid white;
    border-radius: 20px;
}

.symbol:hover{
    transition: 0.3s;
    height: 60px;
    border: 5px solid gray;
    border-radius: 20px;
}


main{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.centerBox{
    max-width: 80%;
}

h1{
    text-align: center;
    font-size: 80px;
    font-weight: bolder;
    background-color: lightgray;
    margin: 20px 0 5px;
}
h2{
    margin: 5px 0;
    padding: 5px;
    background-color: lightgray;
}
h4{
    margin: 0;
    padding: 0;
}

.imageBox{
    display: grid;
    grid-template-columns: 100%;
}

.galerie{
    padding:20px;
    max-width: 100%;
    margin: auto;
}
.statementBox{
    margin: auto;
    max-width: 80%;
    display: grid;
    grid-template-columns: 100%;
}
.galerieBox{
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
}


@media only screen and (min-width: 800px) {
    h1{
        font-size: 100px;
    }
    .imageBox{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .galerie{
        max-width: 80%;
    }
    .statementBox{
        max-width: 80%;
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .galerieBox{
        width: 100%;
        display: grid;
        grid-template-columns: 500% 500%;
        gap: 20px 20px;
    }
    .galerie{
        width: 800px;
        margin-left: 10px;
    }
}
@media only screen and (min-width: 1600px) {
    .statementBox{
        max-width: 80%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
}
.statement{
    margin-left: 10px;
}


#folgen{
    font-size: 30px;
    font-weight: bolder;
}
footer{
    margin-right: 50px;
    justify-content: right;
    text-align: right;
    align-items: center;
    vertical-align: center;
    display: flex;
 }
a{
    color: black;
    text-decoration: none;
}
nav{
    font-size: 130%;
    background-color:#f5aeae;
    border-bottom: 2px solid lightcoral;
    border-top: 2px solid lightcoral;
}
.link{
    margin-left:5px;
}
.link:hover{
    font-weight: bold;
}
.galerie{
    margin: auto;
}