*{font-family: 'Montserrat', sans-serif;}

.symbol{
    height: 60px;
    margin-left: 10px;
    border: 5px solid white;
    border-radius: 20px;
}

.symbol:hover{
    transition: 0.3s;
    height: 60px;
    border: 5px solid gray;
    border-radius: 20px;
}

#clickbite{
    font-weight: bold;

}


main{
    width: 100%;
    justify-content: center;
    display: grid;
    grid-template-columns: 10% 80% 10%;
}

.centerBox{
    max-width: 80%;
}

h1{
    text-align: center;
    font-size: 100px;
    font-weight: bolder;
    background-color: lightgray;
}

.imageBox{
    display: grid;
    grid-template-columns: 100%;
}

.bild{
    padding:20px;
    max-width: 100%;
}
@media only screen and (min-width: 800px) {
    .imageBox{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .bild{
        max-width: 80%;
    }
}
#folgen{
    font-size: 30px;
    font-weight: bolder;
}
footer{
    justify-content: right;
    text-align: right;
    align-items: center;
    vertical-align: center;
    display: flex;
 }
